releases
ThesaurusDeutsch.xml
objects/dict.body
objects/dict.offsets
objects/entry_body_list.txt
objects/normalized_key_body_list.txt
objects/referred_entry_body_list.txt
objects/referred_id_list.txt
**/.DS_Store
