<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>German</string>
	<key>CFBundleIdentifier</key>
	<string>de.tekl.dictionary.openThesaurusDeutsch</string>
	<key>CFBundleName</key>
	<string>OpenThesaurus Deutsch</string>
	<key>CFBundleShortVersionString</key>
	<string>2021.10.06</string>
	<key>CFBundleVersion</key>
	<string>2021.10.06</string>
	<key>DCSDictionaryCopyright</key>
	<string>&lt;p&gt;&lt;b&gt;OpenThesaurus Deutsch&lt;/b&gt; v2021.10.06&lt;/p&gt;&lt;p&gt;Content: © 2003-2021 Daniel Naber, www.openthesaurus.de&lt;br/&gt;Plug-in: © 2021 Wolfgang Reszel, www.tekl.de&lt;/p&gt;&lt;p&gt;&lt;a href="https://tekl.de/dictversion.php?version=2021.10.06&amp;ref=prefs&amp;plugin=OpenThesaurus%20Deutsch"&gt;&lt;button&gt;↺ Auf Update prüfen&lt;/button&gt;&lt;/a&gt;&lt;/p&gt;</string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
		<key>Font</key>
		<string>0</string>
		<key>ShowCopyright</key>
		<string>1</string>
	</dict>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Wolfgang Reszel (www.tekl.de)</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string>OpenThesaurus_prefs.html</string>
	<key>DCSDictionaryUseSystemAppearance</key>
	<true/>
	<key>DCSDictionaryXSL</key>
	<string>OpenThesaurus.xsl</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© P21 Daniel Naber, www.openthesaurus.de / Wolfgang Reszel, www.tekl.de </string>
</dict>
</plist>
