<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>German</string>
	<key>CFBundleIdentifier</key>
	<string>de.tekl.dictionary.openThesaurusDeutsch</string>
	<key>CFBundleName</key>
	<string>OpenThesaurus Deutsch</string>
	<key>CFBundleShortVersionString</key>
	<string>2025.03.24</string>
	<key>CFBundleVersion</key>
	<string>2025.03.24</string>
	<key>DCSDictionaryCopyright</key>
	<string>&lt;p&gt;&lt;b&gt;OpenThesaurus Deutsch&lt;/b&gt; v2025.03.24&lt;/p&gt;&lt;p&gt;Content: © 2003-2025 Daniel Naber, www.openthesaurus.de&lt;br/&gt;Plug-in: © 2025 Wolfgang Kreutz, tekl.de&lt;/p&gt;&lt;p&gt;&lt;a href="https://tekl.de/dictversion.php?version=2025.03.24&amp;ref=prefs&amp;plugin=OpenThesaurus%20Deutsch"&gt;&lt;button&gt;↺ Auf Update prüfen&lt;/button&gt;&lt;/a&gt;&lt;/p&gt;</string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
		<key>Font</key>
		<string>0</string>
		<key>ShowCopyright</key>
		<string>1</string>
	</dict>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Wolfgang Kreutz (tekl.de)</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string>OpenThesaurus_prefs.html</string>
	<key>DCSDictionaryUseSystemAppearance</key>
	<true/>
	<key>DCSDictionaryXSL</key>
	<string>OpenThesaurus.xsl</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2025 Daniel Naber, www.openthesaurus.de / Wolfgang Kreutz, tekl.de </string>
</dict>
</plist>
